.main-section {
	min-height: 80rem;
}

.footer {
	min-height: 8rem;
	background-color: #222;
}

.footer .row {
	padding: 10px 0;
}

.bd-navbar {
  min-height: 4rem;
 	margin-bottom: 0;
  background-color: #563d7c;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.navbar a {
	padding-right: 1rem !important; 
  padding-left: 1rem !important;
	font-size: 16px;
	color: #fff;
}

.pagination {

}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.c1 {
	background: #CD6155;
	color: #fff;
}

.c2 {
	background: #AF7AC5;
	color: #fff;
}

.c3 {
	background: #5DADE2;
	color: #fff;
}

.c4 {
	background: #7DCEA0;
	color: #fff;
}

.c5 {
	background: #DC976C;
	color: #fff;
}

.c6 {
	background: #F7DC6F;
	color: #fff;
}

.c7 {
	background: #F0B27A;
	color: #fff;
}

.c8 {
	background: #17202A;
	color: #fff;
}

.c9 {
	background: #E59866;
	color: #fff;
}

.c10 {
	background: #707B7C;
	color: #fff;
}